:root {
    --primary-background: #fff;
    --form-background-color: #ffffff;
    --primary-text: #ffffff;
    --secondary-background: #6ebe45;
    --secondary-button: #42c102;
    --secondary-backgroung2: #41aa0c;
    --secondary-button-hover: #3daf04;
    --secondary-price: #42c102;
    --secondary-heading: #eaeaea;
    --secondary-about-mainHeading: #42c102;
    --secondary-text: #666666;
    --secondary-outline: #b4b4b4;
}

#about-main-section{

    color: var(--secondary-text);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 1rem;

}
#about-main-heading{
    color: var(--secondary-about-mainHeading);
}