@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --primary-background: #fdf6f1;
  --primary-text: #ffffff;
  --secondary-background: #6ebe45;
  --secondary-button: #42c102;
  --secondary-hover: #42c102;
  --secondary-heading: #eaeaea;
  --secondary-text: #666666;
}
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--primary-background);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-background); 
    transition: all 0.5s;
   
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-hover); 
  }
