@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none !important;
  list-style: none;
  /* background-color: var(--primary-background); */
  
}

  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #ededed;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(253, 140, 99); 
    transition: all 0.5s;
   
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 85, 23); 
  }
  body{
    background-color: var(--primary-background-body);
  }
