.filter-Product-head{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-transform: capitalize;
    color: var(--secondary-tex);
  }
  .filter-Product-head > span {
    font-size: 4rem;
    color: var(--orange);
  }
  #filter-card-wrapper{
    max-width: 70rem;
    margin: 0 auto;
    height: auto;
    border-radius: 1rem;
    /* border: 1px solid rgb(243, 243, 243); */
  }
  
  #filter-card-main{
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #filter-card-body{
    width: 16rem;
    height: auto;
    margin: 0.8rem 0;
    border-radius: 0.6rem;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
  }
  
  #filter-card-img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #filter-card-img>img {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  
  #filter-card-title{
    width: fit-content;
    padding: 0.4rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  #filter-card-title > span {
    font-weight: bold;
    color: var(--ligth-blue);
  }
  
  #filter-card-price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0.2rem 0;
  
  }
  
  .filter-price{
    color: var(--orange);
    font-weight: 600;
  }
  
  #filter-card-checkout{
    width: 100%;
    height: 2rem;
    padding: 0.8rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #filter-checkout-button{
    text-transform: capitalize;
    background-color: var(--orange);
    color: var(--off-white);
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
  }
  
  #product-rating{
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    text-transform: capitalize;
    color: var(--navy-blue);
  }
  
  #more-product {
    width: 100%;
    height: 8rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #load-more-btn {
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--orange);
    transition: 0.5s all;
    cursor: pointer;
  }
  
  .load-more-link {
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--orange);
  }
  /* @media only screen and (max-width: 1514px) {
    #card-main {
      width: 100%;
      height: auto;
      margin: 2rem 0 2rem 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
  } */
  
  @media only screen and (max-width: 662px) {
    .Produc-head {
      font-size: 3rem;
      font-weight: bold;
      font-style: italic;
      letter-spacing: 0.1rem;
      position: relative;
    }
  
    #card-body {
      width: 6rem;
      height: 45rem;
      margin: 0.8rem 0;
      border-radius: 0.6rem;
    }
  
    #load-more-btn {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s all;
      cursor: pointer;
    }
  
    .load-more-link {
      font-size: 1.2rem;
    }
  }
  












/* .filter-Product-head {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: capitalize;
  color: var(--secondary-tex);
}
.filter-Product-head > span {
  font-size: 4rem;
  color: var(--orange);
}
.reset-link {
  color: var(--secondary-text);
  text-decoration: underline !important;
}
#filter-card-wrapper {
  max-width: 80rem;
  margin: 0 auto;
  height: auto;
  border-radius: 1rem;
}
#filter-card-main {
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#filter-card-body{
    width: 16rem;
    height: auto;
    margin: 0.8rem 0;
    border-radius: 0.6rem;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
}

#filter-card-img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-card-img > img {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

#filter-card-title{
  width: fit-content;
  padding: 0.4rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#filter-card-title >span{
    text-align: center;

}

#filter-card-price{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0.2rem 0;
}

.price {
  color: var(--secondary-button);
  font-weight: 600;
}

#card-checkout {
  width: 100%;
  height: 2rem;
  padding: 0.8rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#checkout-btn {
  text-transform: capitalize;
  background-color: var(--secondary-button);
  color: var(--primary-text);
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  text-decoration: none;
}

#rating {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: var(--secondary-text);
}

/* @media only screen and (max-width: 1514px) {
  #card-main {
    width: 100%;
    height: auto;
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
} */ 
