:root {
    --primary-background: #fdf6f1;
    --primary-text: #ffffff;
    --secondary-background: #6ebe45;
    --secondary-heading: #eaeaea;
    --secondary-text: #666666;
}

#banner-img {

    width: 100%;
    height: 45rem ;
    object-fit: cover;

}


@media only screen and (max-width: 862px) {
    #banner-img {
        width: 100%;
        height: 100%;

    }
}